@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgOrange: #e84949;
  
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  width: 80px;
}

.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  cursor: pointer;
}

.logo-text {
  margin-left: -0.8em;
  font-size: 28px;
}

.nav-item {
  display: flex;
  gap: 2em;
  padding: 0 4em;


}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-item a:hover {
  font-weight: bold;
  transition: all .1s;

}

/* 
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  position: relative;
  margin: 4em auto;
  padding: 0 1em;
  padding-bottom: 8em;
}

.faded-text {
  position: absolute;
  user-select: none;
  bottom:-25%;
  right: -1%;
  font-size: 5em;
  color: rgb(231, 231, 231);
  font-weight: bold;
  transition: all 3s;
}

.hero-leftbox {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

.hs-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.hs-subheading {
  font-size: 45px;
  line-height: 45px;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hs-description {
  margin-top: 1em;
  width: 64%;
  font-weight: 500;
}

.btn {
  background-color: #e84949;
  width: fit-content;
  padding: .8em 2.5em;
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 7px 0px black;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border: 3px solid transparent;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: all .8s;
  z-index: -1;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover {
  border: 2px solid var(--bgOrange);
  color: #000;
} */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5em;
  margin: 4em auto;
  padding: 0 1em;
  padding-bottom: 8rem;
}

.faded-text {
  user-select: none;
  position: absolute;
  font-size: 6em;
  bottom: 20%;
  left: ;: 5%;
  color:rgb(231,231,231);
  transition: all 3s;
  font-weight: bold;

}

.hero-leftbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hs-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.hs-subheading {
  font-size: 45px;
  line-height: 45px;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hs-description {
  width: 70%;
  margin-top: 1em;
  font-weight: 500;
}

.btn {
  width: fit-content;
  background-color: #e84949;
  font-size: 18px;
  padding: 0.8em 2.5em;
  color: white;
  cursor: pointer;
  position: relative;
  border: 3px solid transparent;
  box-shadow: 5px 0px 7px 0px rgb(104, 102, 102);
z-index: 1;
}

.btn::before {
  content: ""
  ;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
transform-origin: left;
transition: all .9s;
transform: scaleX(0);
z-index: -1;

}
.btn:hover::before{
  transform: scaleX(1);
}
.btn:hover{
  color: black;
  

}
/* this is hero reight section  */
.hero-rightbox {

  position: relative;
}

.absolute {
  position: absolute;
}

.user-images {
  padding: 2.5rem;
  filter: grayscale(1);
  animation: scaleimg 5s linear infinite;
}

.user-images img {
  z-index: -9;
}

@keyframes scaleimg {
  50% {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 5px 5px 7px 0px black;
  }
}

.icon-dot {
  z-index: 9;
  bottom: -1em;
  right: 0;
  animation: dots 5s linear infinite;
}

@keyframes dots {
  50% {
    transform: translateY(-15px);
  }
}

.icon-cube {
  z-index: 9;
  top: -.8em;
  right: 1em;
  animation: cube 5s linear infinite;
}

@keyframes cube {
  0% {
    transform: rotateY(0)translateY(0);
  }

  50% {
    transform: rotateY(360deg)translateY(-12px);
  }

  100% {
    transform: rotateY(180deg)translateY(0px);
  }

}

.icon-circle {
  z-index: 9;
  bottom: 0;
  left: 0;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.icon-plus {
  z-index: 9;
  left: 50%;
  top: -1em;
  animation: plus 6s ease-in infinite;
}

@keyframes plus {
  50% {
    top: 2%;
    left: 48%;
  }

}

.icon-zigzags {
  z-index: 9;
  top: 1.5em;
  left: -.3em;
  animation: zigzags 6s ease-out infinite;
}

@keyframes zigzags {
  50% {
    top: 2%;
    left: 5%;
  }

}